{% extends 'contacts/manage.html' %}

{% block manage %}
  <h2>联系组管理</h2><br />
 <form class="form-horizontal" role="form" method="POST" action="/add/mysql">
          <div>
          <p>以下必须选择:</p>
                              联系人组:<select name="group">
                          <option value='' selected="selected">请选择</option>
                        {% for g in group %}
                          <option value='{{ g.id }}'>{{ g.idc_name }}</option>
                        {% endfor %}
                     </select>

            &nbsp;&nbsp;&nbsp;联系人:<select name="service">
                          <option value='' selected="selected">请选择</option>
                        {% for s in service %}
                          <option value='{{ s.id }}'>{{ s.service_name }}</option>
                        {% endfor %}
                     </select>

            &nbsp;&nbsp;&nbsp;动作:<select name="m_type">
                          <option value='' selected="selected">请选择</option>
                          <option value='master'>添加</option>
                          <option value='slave'>删除</option>
                     </select>

            </br></br>
            <button type="submit" class="btn btn-default">提交</button>
          </div>

 </form>

{% endblock %}

